.error{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error__header{
    color: #212326;
    font-family: Ubuntu;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%; /* 103.76px */
    text-transform: capitalize;
    background: linear-gradient(99deg, #33E2FF 22.8%, #6A93FF 43.56%, #FD5FB2 75.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    @media (max-width: 767px) {
        font-size: 100px;
    }
}

.error__header:before{
    @media (min-width: 1399px) {
        content: "";
        position: absolute;
        background-image: url(../../../images/error-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
        width: 168px;
        height: 183px;
        top: -80px;
        left: -320px;
    }
}

.error__header:after{
    @media (min-width: 1399px) {
        content: "";
        position: absolute;
        background-image: url(../../../images/error-2.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
        width: 246px;
        height: 246px;
        top: -100px;
        left: 520px;
    }
}


.error__subheader{
    color: #212326;
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    position: relative;
    @media (max-width: 767px) {
        font-size: 30px;
    }
}

.error__subheader:before{
    @media (min-width: 1399px) {
        content: "";
        position: absolute;
        background-image: url(../../../images/error-3.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
        width: 246px;
        height: 246px;
        top: -10px;
        left: -320px;
    }
}

.error__subheader:after{
    @media (min-width: 1399px) {
        content: "";
        position: absolute;
        background-image: url(../../../images/error-4.svg);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 10;
        width: 246px;
        height: 246px;
        top: -10px;
        left: 700px;
    }
}

.error__description{
    color: #797979;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    max-width: 670px;
    margin-bottom: 30px;
}

.error__button{
    color: #212326;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    border-radius: 89px;
    padding: 28px 50px 29px 50px;
    background-color: #F3F3F3;
    display: block;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}