.skeleton {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
}


.token-details{
    display: grid;
    grid-template-columns: 37px 65px 110px 59px 110px 108px 44px;
    gap: 120px;
}