.newslatter{
    background-image: url(../../../images/newslatter-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 179px 0px 260px 0px;
    @media (max-width: 767px) {
        padding: 90px 0px 130px 0px;
    }
}

.newslatter__header{
    color: #212326;
    text-align: center;
    font-family: Ubuntu;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    max-width: 1340px;
    @media (max-width: 1399px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
    }
}

.newslatter__header:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/newslatter-trader.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 88px;
    height: 88px;
    top: 70px;
    right: 145px;
    @media (max-width: 1399px) {
        top: 85px;
        right: 350px;
    }
    @media (max-width: 767px) {
        top: 180px;
        right: 70px;
        width: 65px;
        height: 63px;
    }
}

.newslatter__header--10{
    background: linear-gradient(99deg, #31E5FF 17.85%, #448FFF 43.56%, #FF82BE 75.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ubuntu;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    @media (max-width: 1399px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
    }
}

.newslatter__form{
    text-align: center;
    position: relative;
}

.newslatter__input{
    color: #C6C6C6;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.7%;
    border-radius: 89px;
    background: #FFF;
    padding: 28px 317px 29px 33px;
    @media (max-width: 767px) {
        padding: 28px 0px 29px 33px;
    }
}

.newslatter__form{
    position: relative;
}


.newslatter__button{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    border-radius: 89px;
    background: linear-gradient(278deg, #25F6FF -14.66%, #7782FF 55.55%, #FF5196 112.85%);
    padding: 21px 62px 26px;
    position: absolute;
    right: 380px;
    top: 5px;
    cursor: pointer;
    @media (max-width: 1399px) {
        right: 65px;
        top: 5px;
    }
    @media (max-width: 767px) {
        padding: 21px 42px 26px;
        right: 50px;
        top: 100px;
    }
}

.newslatter__header--trader{
    margin-right: 90px;
}