.login__title{
    color: #212326;
    text-align: center;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    margin-bottom: 22px;
    position: relative;
}

.login__title::before{
    content: "";
    position: absolute;
    background-image: url(../../../images/login-1.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    width: 224.536px;
    height: 224.536px;
    top: 200px;
    left: -700px;
    @media (max-width: 1599px) {
        display: none;
    }
}

.login__title::after{
    content: "";
    position: absolute;
    background-image: url(../../../images/login-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    width: 281.78px;
    height: 281.78px;
    top: -200px;
    left: 550px;
    @media (max-width: 1599px) {
        display: none;
    }
}

.login__input{
    color: #263238;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    padding: 28px 259px 29px 40px;
    border-radius: 89px;
    border: 2px solid #FFF;
    background: rgba(243, 243, 243, 0.25);
    width: 436px;
    margin-bottom: 22px;
    @media (max-width: 767px) {
        width: 200px;
        padding: 14px 30px 14px 20px;
    }
}

.login__button{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    border-radius: 89px;
    background: #263238;
    padding: 28px 82px 29px 82px;
    @media (max-width: 767px) {
        padding: 14px 41px 15px 41px;
    }
    cursor: pointer;
}

.login__button:hover{
    background: #1b2124;
}


.login__wrapper{
    @media (min-width: 1400px) {
        width: 697px;
    }
    @media (max-width: 767px) {
        padding: 60px 60px 60px 60px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 133px 130px 132px 131px;
    border-radius: 50px;
    background: linear-gradient(102deg, #7782FF -0.72%, #9BA3FF 55.01%, #E1A3FF 100.49%);
}