.why__header{
    color: #212326;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    margin-bottom: 45px;
    @media (max-width: 1399px) {
        text-align: center;
    }
    @media (max-width: 767px) {
        font-size: 30px;
    }
}

.why__header--cryptop{
    background: linear-gradient(100deg, #31E5FF 20.75%, #448FFF 34.72%, #FF82BE 61.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.7%;
    text-transform: capitalize;
    @media (max-width: 767px) {
        font-size: 30px;
    }
}

.why-list{
    display: grid;
    grid-template-columns: 435px 435px 435px;
    column-gap: 47px;
    row-gap: 40px;
    margin-bottom: 45px;
    @media (max-width: 1480px) {
        grid-template-columns: 435px;
        justify-content: center;
    }
    @media (max-width: 767px) {
        grid-template-columns: 290px;
    }
}

.why-list-item{
    border-radius: 20px;
    background: #F3F3F3;
    padding: 60px 45px;
    @media (max-width: 767px) {
        padding: 60px 35px;
    }
}

.why-list-item__header{
    color: #212326;
    font-family: Ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    margin-bottom: 14px;
    position: relative;
}

.why-list-item__header--1:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -164px;
    left: 228px;
    border-top-right-radius: 15px;
    @media (max-width: 767px) {
        left: 95px;
        top: -163px;
    }
}

.why-list-item__header--2:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -154px;
    left: 228px;
    border-top-right-radius: 15px;
    @media (max-width: 767px) {
        left: 95px;
        top: -153px;
    }
}

.why-list-item__header--3:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-3.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -160px;
    left: 245px;
    border-top-right-radius: 30px;
    @media (max-width: 767px) {
        left: 110px;
        top: -160px;
    }
}

.why-list-item__header--4:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-4.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -174px;
    left: 228px;
    border-top-right-radius: 30px;
    @media (max-width: 767px) {
        left: 95px;
        top: -175px;
    }
}

.why-list-item__header--5:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-5.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -180px;
    left: 242px;
    border-top-right-radius: 30px;
    @media (max-width: 767px) {
        left: 105px;
        top: -180px;
        border-radius: 45%;
    }
}

.why-list-item__header--6:before{
    content: "";
    position: absolute;
    background-image: url(../../../images/whyus-background-6.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    width: 161px;
    height: 173px;
    top: -168px;
    left: 241px;
    border-top-right-radius: 30px;
    @media (max-width: 767px) {
        left: 105px;
        top: -160px;
    }
}

.why-list-item__description{
    color: #797979;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.why-list-item__image{
    margin-bottom: 33px;
}

.why-list-buttons{
    display: flex;
    gap: 30px;
    margin-bottom: 173px;
    @media (max-width: 767px) {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 80px;
    }
    @media (max-width: 1399px) {
        justify-content: center;
    }
}

.why-list-buttons__1{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    padding: 28px 62px 29px;
    border-radius: 89px;
    background: linear-gradient(279deg, #25F6FF -21.3%, #7782FF 51.88%, #FF5196 111.61%);
}

.why-list-buttons__2{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.7%;
    text-transform: capitalize;
    padding: 28px 63px 29px;
    border-radius: 89px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    opacity: 0.5;
}